.second_header{
  background: rgb(255,233,100);
background: linear-gradient(0deg, rgba(255,233,100,1) 0%, rgba(255,112,60,1) 100%);
}
.dark_logo{
    width: 17em;
}
h1{
    font-size: 2.8rem;
    line-height: 1.5em;
    font-family: 'Montserrat Alternates Bold';
    text-align: left;
}
.monument_img{
    display: inline-block;
    width: 21em;
    margin-top: 10%;
}
.achives{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;  
}
.item_achives{
    margin-right: 4.3em;
    width: 5rem;
    text-align: center;
    margin-bottom: 10%;
}
.item_achives b{
    font-size: 1rem;
}
.item_achives img{
    height:4em;
    width:4em;
}    




.carousel{
    margin-top: 2%;
    background-color: white;
    border: 8px solid #feb386;
    border-radius: 18px;
    border-style: double;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
    margin-top: 2%;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
    margin-bottom: 5%;
}

.car_head{
    font-size: 30px;
    font-family: 'Montserrat Alternates Bold';
    text-align: center;
}
.car_head_describe{
    font-size: 20px;
    font-family: 'Montserrat Alternates Bold';
    text-align: center;
    color: darkgray;
}
.book_car{
    width: 100%;
    height: 300px;
    border-radius: 18px;
    box-shadow: 0.45vw 0.45vw 0.6vw rgba(0, 0, 3, 1);
}
.asd{
    font-family: 'Montserrat Alternates Bold';
    text-align: justify;
    text-decoration: underline;
}
.carousel-item p{
    font-family: 'Montserrat Alternates Bold';
    text-align: justify;
    color: #363636;
    font-size: 1rem;
}
.q{
    text-align: center;
    border: 5px solid #feb386;
    border-style: double;
    border-radius: 8px;
    font-family: 'Montserrat Alternates Bold';
    color: #363636;
}
.read_more{
    float: right;
    height: 60%;
}

.carousel-control-next, .carousel-control-prev{
    width: 10%;
}






@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
    }
}

@media (max-width:1300px){
   .form-inline {
    display: none;
}
}
@media (max-width:1200px){
   .form-inline {
    display: block;
}
    .nav-item{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .nav-item:after {
  content: "";
}
    .form-control{
        width: 80%;
    }
    .tat{
        margin-left: -2em;
    }
    .languages{
        margin-top: 1em;
    }
    .btn{
        margin-bottom: 0.3em;
    }
    .navbar-toggler{
        outline: none;
    }
    .monument_img{
        display: none;
    }
    .featurette-heading{
        margin-top: 10%;   
    }
}


@media (max-width: 770px) {
    .achives {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 583px) {
    .achives {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 450px) {
    .achives {
        grid-template-columns: repeat(2, 1fr);
    }
}                                  